:root {
  --color-primary: #6200ee;
  --color-primary--variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary--variant: #018786;
}

body {
  background-color: white;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.65;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
  margin: 0;
}

h2 {
  font-size: 2.441em;
}

p,
li,
a,
figcaption {
  font-size: 1em;
}

p {
  margin-bottom: 1.15rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:focus,
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

header {
  background-color: var(--color-primary);
  color: whitesmoke;
  padding: 1rem;
  width: 100vw;
}

nav {
  background-color: black;
  padding: 2rem 0;
}

section:nth-child(odd) {
  background-color: var(--color-secondary--variant);
  color: whitesmoke;
}

section:nth-child(even) {
  background-color: var(--color-secondary);
}

footer {
  padding: 1rem;
}

footer li {
  display: inline-block;
  margin-right: 0.5rem;
}

form {
  background-color: var(--color-primary);
  color: whitesmoke;
  padding: 1rem 0.5rem;
}

label {
  margin-right: 0.25rem;
}

input,
textarea {
  border: solid thin #333;
  border-radius: 3px;
  transition: all 0.4s ease;
}

input:active,
textarea:active,
input:focus,
textarea:focus input:hover,
textarea:hover {
  background-color: hotpink;
}

select {
  color: whitesmoke;
}

address li {
  margin-right: 0;
}

address li:not(:last-child)::after {
  content: "\2022";
}

.button {
  background-color: var(--color-secondary);
  min-width: 4rem;
  padding: 1rem;
  text-transform: uppercase;
}

.button:focus,
.button:hover {
  cursor: pointer;
}

.fab {
  margin-right: 0.125rem;
}

.fa-id-card-alt {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

form > .flex {
  margin: 1rem 0;
}

.flex-align-items--center {
  align-items: center;
}

.flex-flex-direction--column {
  flex-direction: column;
}

.flex-justify-content--space-around {
  justify-content: space-around;
}

.flex-justify-content--space-between {
  justify-content: space-between;
}

.img--responsive {
  height: auto;
  max-width: 100%;
}

.text-align--center {
  text-align: center;
}

@media only screen and (min-width: 960px) {
  .md-flex {
    display: flex;
  }
}

/* animate.css */
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
